body {
	color: #000000;
	background: #ffffff;
}

table {
	color: #000000;
	background: #ffffff;
}

a {
	color: #000000;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #606060;
}

hr {
	color: #808080;
	background-color: #808080;
	height: 1px;
}

.menubottom {
  border-top: 2px solid #808080;
}

.error {
	color: #ff0000;
}

.notice {
	color: #404040;
}

.darkrow {
	background-color: #ffffff;	
}

.lightrow {
	background-color: #ffffff;
}

.puff {
	padding: 4px 8px 16px 8px;
}

.header {
	color: #606060;
	background-color: #e8e8e8;
	padding: 2px;	
	margin-bottom: 8px;
	border: solid 1px #808080;
}

.header a {
	color: #404040;
}

.header a:link {
	color: #404040;
}

.header a:visited {
	color: #404040;
}

.header a:hover {
	color: #404040;
}

.prefHeading {
	color: #404040;
}

/* begin: wes's new private message stuff (8-28-03)*/
.private .header {
	border: solid 1px #000000;
	background-color: #ffffe8;
}
/* end: wes's new private message stuff (8-28-03)*/

.killed .header, .killed .header a, .killed {
  color: #ff0000;
}
